{% extends "main.html" %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}

    {% if validlink %}

        <h4>Установить новый пароль!</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Изменить пароль!">
        </form>

    {% else %}

        <p>Ссылка на изменение пароля не действительна.
            Возможно, это произошло потому что ссылка устарела.
            Пожалуйста, запросите новый пароль.
        </p>

    {% endif %}
{% endblock %}